.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
mcp-common/**
mcp-server/**
agent/**
schedule-service-mock/**
tests/**
.gitignore
.lsifrc
package-lock.json
tsconfig.json
vsc-extension-quickstart.md
**/*.map
**/*.ts
!dist/**
!package.json
!README.md
!LICENSE
